body{
    background-color: white;
    font-family: Arial;
    margin: 20px;
}

h1{
    color: blue;
    text-align: center;
}
h1:hover{
    background-color: yellow;
}

h2{
    color: darkgreen;
}

h3{
    color: purple;
}

p{
    font-size: 18px;
    color: black;
}

img{
    border: 3px solid black;
    border-radius: 10px;
}


ul,ol{
    color: brown;
}

form{
    border: 2px solid gray;
    padding: 20px;
    width: 350px;
    border-radius: 10px;
    background-color: white;
}

input,select{
    width: 100%;
    padding: 8px;
    margin: 8px 0;
}

input[type="submit"]{
    background-color: green;
    color: white;
    cursor: pointer;

}

input[type="reset"]{
    background-color: red;
    color: white;

    cursor: pointer;
}

input[type="submit"]:hover{
    background-color: darkgreen;
}

input[type="reset"]:hover{
    background-color: darkred;
}